<!-- Navbar -->

<nav class="main-nav" aria-label="Menú principal">
        <ul>
            <li class="main-nav__link main-nav__link--active">
                <a aria-current="page" href="/?locale=es">Inicio</a>
            </li>
            <li class="main-nav__link">
                <a href="/last_activities?locale=es">Actividades</a>
            </li>
            <li class="main-nav__link">
                <a href="/meetings">Nuevo Link</a>
            </li>
        </ul>
</nav>
