<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/foto-gratis/plantas-interior-macetas-populares-fondo-blanco_53876-127000.jpg?w=2000" class="d-block w-100" alt="Fondo1" style="height: 500px; object-fit: cover">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-premium/plantas-interior-macetas-modernas_67618-747.jpg?w=2000" class="d-block w-100" alt="Fondo2" style="height: 500px; object-fit: cover">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-premium/composicion-elegante-botanica-jardin-casa-lleno-muchas-plantas-diferentes-macetas-sobre-mesa-blanca-paredes-fondo-blanco-plantas-aman-flor-primavera-plantillas_431307-7206.jpg?w=2000" class="d-block w-100" alt="Fondo3" style="height: 500px; object-fit: cover">
    </div>
  </div>
</div>
<%= render template: 'navbars/index' %>
<%= render template: 'posts/index' %>
<%= render template: 'products/index' %>
