
      <div class="card mr-3 col-md-4">
        <img src="<%= product.image %>" alt="Imagen" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="mt-0">
            <%= product.title %>
          </h5>
          <p>
            <%= product.description %>
          </p>
          <div class="text-end d-flex flex-direction-row justify-content-end">
            <label class="badge bg-primary text-wrap"><%= product.price %></label>
          </div>
        </div>
    </div>
